
            #userid {
                font-size:120%; color:Navy; text-transform:uppercase; 
            } 
            .titlebar {
                margin-left:-3%; 
            } 
            .coname { 
                text-transform:uppercase; padding:6% 0% 1.5% 0%; 
            } 
            a.active, a:active {
                color:maroon ;
            } 
            .glyphicon {
                font-size:18px;
            }
            .firstbar {
                background-color:black; padding:0.5%; color:white; margin:0%; 
            }
            .newsupplier {
                cursor:pointer; 
            }
            .searchitems {
                font-family:"New Times Roman"; padding:0 1%;
            }
            input[list] {
                width:100%; border:none; background-color:#f1f1f1; border-radius:6px; padding:5px 10px;
            }
            input[type=date] {
                width:100%; border:2px solid #ccc; background-color:#f1f1f1; border-radius:6px; padding:2px 10px; font-size:14px; 
            }
            .tablecontainer {
                border:3px solid black; border-right:9px ridge black; border-left:9px ridge black; border-radius:5px; margin:-0.5%; padding:0 0.2%; overflow-y:auto; height:260px; 
            }
            #itemlist {
                font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; border-collapse:collapse; width:100%;
            }
            #itemlist td, #itemlist th {
                border:1px solid #ddd; text-align:left; padding:4px;
            }
            #itemlist tr:nth-child(even){
                background-color:#f2f2f2;
            }
            #itemlist tr:hover {
                background-color:black; color:white;
            }
            #itemlist th {
                padding-top:12px; padding-bottom:12px; background-color:#0066CC; color:white;
            }
            .glyphicon-fullscreen {
                font-size:37px;
            }
            /* The Modal (background) */
            .modal {
                display:none; /* Hidden by default */ position:fixed; /* Stay in place */ z-index:1; /* Sit on top */ padding-top:122px; /* Location of the box */ left:0; top:0; 
                width:100%; /* Full width */ height:100%; /* Full height */ overflow:auto; /* Enable scroll if needed */ background-color:rgba(0,0,0,0.9); /* Fallback color */
            }
            /* Modal Content (image) */
            .modal-content {
                margin: auto; display: block; width: 80%; max-width: 700px;
            }
            /* Caption of Modal Image */
            #caption {
                margin: auto; display: block; width: 80%; max-width: 700px; text-align: center; color: #ccc; padding: 10px 0; height: 150px;
            }
            /* Add Animation */
            .modal-content, #caption {    
                -webkit-animation-name: zoom; -webkit-animation-duration: 1s; animation-name: zoom; animation-duration: 1s;
            }
            /* Chrome, Safari, Opera */
            @-webkit-keyframes zoom {
                from {transform:scale(0)} 
                to {transform:scale(1)}
            }
            /* Standard syntax */
            @keyframes zoom {
                from {transform:scale(0.1)} 
                to {transform:scale(1)}
            }
            /* The Close Button */
            .close {
                position:absolute; top:15px; right:35px; color:#f1f1f1; font-size:50px; font-weight:bold; transition:1s; padding-top: 9%;
            }
            .close:hover, .close:focus {
                color: #bbb; text-decoration: none; cursor: pointer;
            }
            /* Responsive Columns */
            @media only screen and (max-width: 700px){
                .responsive {
                    width: 49.99999%; margin: 6px 0;
                }
                .modal-content {
                    width: 100%;
                }
            }
            @media only screen and (max-width: 500px){
                .responsive {
                    width: 100%;
                }
            }
            /* Clear Floats */
            .clearfix:after {
                content: ""; display: table; clear: both;
            }
            .mymodalstyle {
                background:lightgrey; padding:3%; margin:auto; margin-top:-4%; width:600px; height:600px; box-shadow:-1px 1px 15px lightgrey, 1px 1px 15px lightgrey, -1px -1px 15px lightgrey, 1px -1px 15px lightgrey; border-radius:50%; 
            }
            .mymodalstyle .close {
                position:absolute; right:70%;
            }
            .suppliertopbar {
                border-radius:6px; background-color:black; color:Khaki ; width:50%; margin:auto; font-size:20px; padding:1%;
            }
            .mymodalstyle button {
                width:80%;
            }
            textarea {
                width:100%; height:130px; padding:8px 10px; border:2px solid #ccc; border-radius:6px; background-color:#f8f8f8; font-size:14px; resize:none; 
            }

